@import "tailwindcss";

@theme {
  --color-flat-gray: #f2f2f2;
}

body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for clean aesthetic */
::-webkit-scrollbar {
  display: none;
}
